{% extends 'base.html'%}
{% block content %}


<div class="col">
    <h1> Tasks</h1>
    <a href="{% url 'task:add-task' %}" class="btn btn-primary btn" tabindex="-1" role="button" aria-disabled="true">Add
        New
        Task</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Descriptions</th>
            <th scope="col">Completed</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <th scope="row">{{task.title}}</th>
            <td>{{task.descriptions}}</td>
            <td>{{task.is_completed}}</td>
            {% if not task.is_completed %}
            <td>
                <form action="{% url 'task:update' task.id%}" id="update-form">
                    {%csrf_token%}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                            data-task-id={{task.id}}>
                        <label class="form-check-label" for="flexCheckDefault">
                            Mark as Complete
                        </label>
                    </div>
                </form>
            </td>
            {%else%}
            <td></td>
            {% endif %}
            <td>
                <a href="{% url 'task:delete' task.id%}" class="btn btn-danger" tabindex="-1" role="button"
                    aria-disabled="true">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#flexCheckDefault').change(function () {
            if (this.checked) {
                var task_id = this.getAttribute('data-task-id')

                // Checkbox is checked, send an AJAX request
                $.ajax({
                    url: $('#update-form').attr('action'),
                    type: 'GET',
                    success: function (response) {
                        window.location.href = "tasks"
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            } else {
                // Checkbox is unchecked, clear the response container
                $('#ajax-response').empty();
            }
        });
    });
</script>

{% endblock %}